.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100%;
    height: 80%!important;
    object-fit: contain!important;
}
.div-info h4{
    font-family: 'Montserrat', sans-serif !important;
    color:rgba(34,181,195,1);
    text-transform: uppercase;
}
.div-info p{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    color:rgb(167, 165, 165);
}
.card{
    border: none!important;
    border-color: none!important;
    background-color: #fff!important;
}