.avisooriginal{
    background: rgba(9, 226, 154, 0.986)!important;
    margin-top: 4%;
    font-family: "Poppins", sans-serif !important;
}
.titulo-aviso h1{
    color: #fff;
    font-weight: 600;
    margin-top: 2%;
}
.conteudo-aviso p{
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-align: justify;
}